<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form method="post" action="/getresult"> -->
        <form>
        <lable for="input">Enter Text</lable>
        <input type="text" name="input" id="text">
        <button onclick="postText(event)">Encrypt</button>
        <button onclick="decrypt(event)">Decrypt</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
 <script src="./text.js"></script>
</body>

</html>